//Fonts

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/Montserrat-SemiBold.woff") format('woff'), url("../fonts/Montserrat-SemiBold.woff2") format('woff2');
	font-weight: 600;
}

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/Montserrat-Regular.woff") format('woff'), url("../fonts/Montserrat-Regular.woff2") format('woff2');
	font-weight: 400;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 0.875rem;
	background-color: #000430;
}

.container {
	width: 100%;
	max-width: 57rem;
	margin: 0 auto;
}

#cardsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	width: 25vw;
	padding: 1.25rem 1.25rem 2.1875rem 1.25rem;
	margin: .625rem;
	border: .125rem solid #828dff;
	border-radius: .625rem;
	text-align: center;
	background-color: #171c48;
	color: #FFFFFF;
}

.subtitle {
	font-size: 1.5625rem;
	text-transform: uppercase;
	color: #24feee;
}

p {
	margin: .75rem;
}

span {
	font-size: 1rem;
	font-weight: 600;
	font-style: italic;
	color: #828dff;
}

.image {
	width: 25vw;
	height: auto;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.text {
	font-size: .75rem;
}