.ratings-wrapper {
  display: inline-block;
}

.ratings {
  display: flex;
  flex-direction: row-reverse;
}

.ratings span {
  margin-right: 0.3125rem;
  font-size: 1.875rem;
  transition: color 0.2s, transform 0.3s;
  cursor: pointer;
}

.ratings span:hover {
  color: #f2ff00;
  transform: scale(1.3);
}

.ratings span:hover ~ span {
  color: #f2ff00;
}

.ratings span[data-clicked] {
  color: #f2ff00;
}

.ratings span[data-clicked] ~ span {
  color: #f2ff00;
}