.ratings-wrapper {
	display: inline-block;
}

.ratings {
	display: flex;
	flex-direction: row-reverse;
}

.ratings span {
	margin-right: .3125rem;
	font-size: 1.875rem;
	transition: color .2s, transform .3s;
	cursor: pointer;
}

.ratings span:hover {
	color: #f2ff00;
	transform: scale(1.3);
}

//эффект наведения для последующих элементов диапазона
//с помощью row-reverse в ratings переделали на наведение для предыдущих элементов диапазона 
.ratings span:hover~span {
	color: #f2ff00;
}

//всем звездам (элементам диапазона) с атрибутом (data-clicked) устанавливаем цвет
.ratings span[data-clicked] {
	color: #f2ff00;
}

//меняем цвет для предыдущих звезд (элементов диапазона)
.ratings span[data-clicked]~span {
	color: #f2ff00;
}